@charset "UTF-8";

body {
    background-color: #8c8d8f;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

h1 {
    color: #f7d3c5;
    background-color: chocolate;
}

h2 {
    color: coral;
}

p {
    text-align: justify;
}